:root {
    transition: background-color 0.2s ease-in-out;
    --color-bg: #F2F2F2;
    --color-bg-app: #F4F4F4;
    --color-primary: #413F3F;
    --color-ghost: #B5B5BA;
    --color-done: #29ABE2;
    --icon-filter: invert(65%) sepia(17%) saturate(0%) hue-rotate(292deg) brightness(105%) contrast(99%);
}

:root[data-theme="dark"] {
    --color-bg: #23272a;
    --color-bg-app: #413F3F;
    --color-primary: #F4F4F4;
    --color-ghost: #B5B5BA;
    --color-done: #29ABE2;
    --icon-filter: invert(100%) sepia(34%) saturate(169%) hue-rotate(178deg) brightness(215%) contrast(90%);
}

